@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

* {
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.accent {
  color: #6b5af9;
  font-weight: 700;
}

.menu__nav {
  margin-top: 86px;
  display: flex;
  flex-direction: column;
}

.menu__nav--button {
  padding-bottom: 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #2a2367;
}

.menu__address {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.menu__address--button {
  padding-bottom: 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #6b5af9;
}

@media (max-width: 359px) {
  *[class*="laptop"] {
    display: none;
  }

  *[class*="desktop"] {
    display: none;
  }

  .wrapper {
    padding: 0 10px;
    overflow-x: scroll;
  }

  header {
    display: flex;
    height: 62px;
    width: 359px;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    width: 359px;
  }

  .menu-wrapper {
    overflow-x: scroll;
    box-shadow: 0 -4px 2px -2px rgb(218, 218, 218);
  }

  .menu__close-button--phone {
    padding-left: 14px;
    padding-top: 24px;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  *[class*="laptop"] {
    display: none;
  }

  *[class*="desktop"] {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 500px;
  }

  header {
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
  }

  .menu-wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 500px;
    box-shadow: 0 -4px 2px -2px rgb(218, 218, 218);
  }

  .menu__close-button--phone {
    padding-left: 14px;
    padding-top: 24px;
  }
}

@media (min-width: 768px) {
  *[class*="phone"] {
    display: none;
  }

  *[class*="desktop"] {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 860px;
  }

  header {
    display: flex;
    height: 97px;
    justify-content: space-between;
    align-items: center;
  }

  .menu-wrapper {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 860px;
    box-shadow: 0 -4px 2px -2px rgb(218, 218, 218);
  }

  .menu__close-button--laptop {
    padding-left: 14px;
    padding-top: 24px;
  }
}
