@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/*@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  src: local("Montserrat"), url("/fonts/montserrat.woff2") format("woff2"),
    url("/fonts/montserrat.woff") format("woff");
}*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

.Phone {
  display: none;
}

.Laptop {
  display: none;
}

.Desktop {
  display: none;
}

.hidden {
  display: none !important;
}

.fixed {
  overflow: hidden !important;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.accent {
  color: #6b5af9;
  font-weight: 700;
}

a:hover {
  cursor: pointer;
}

.unified-cost-button {
  width: 275px;
  height: 60px;
  color: white;
  background: #6b5af9;
  border-radius: 5px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  transition: opacity 0.3s ease, scale 0.5s ease;
}

.unified-cost-button:hover {
  transition: opacity 0.3s ease, scale 0.5s ease;
  opacity: 0.8;
  scale: 2;
}

@media (max-width: 359px) {
  .Phone {
    display: block;
  }

  .wrapper {
    padding: 0 10px;
    overflow-x: scroll;
  }

  header {
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .main__about-us-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main__benefits-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2a2367;
    position: absolute;
    align-self: flex-start;
    max-width: 94%;
  }

  .main__background-image-wrapper {
    align-self: center;
    width: 100%;
    max-width: 400px;
  }

  .main__background-image {
    width: 100%;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #2a2367;
    text-align: center;
  }

  .main__card-header {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #2a2367;
  }

  .menu-wrapper {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .menu {
    position: relative;
    top: 0px;
    height: 100%;
    background-color: white;
    width: 100%;
    box-shadow: 0px -5px 2px -5px rgba(45, 45, 45, 0.7);
    left: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__close-button {
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .menu__nav {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    gap: 30px;
  }

  .menu__nav-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .menu__address {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    bottom: -130px;
  }

  .menu__address-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6b5af9;
  }

  .swiper-container {
    height: 200px;
    position: relative;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
  }

  .slide {
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .slide__big-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .slide__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .slide__header::after {
    display: block;
    margin: 10px 0;
    content: '';
    border: 1px solid #e37575;
    width: 175px;
    height: 0px;
  }

  .slide__paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .swiper-pagination {
    top: 205px;
    display: block;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .Phone {
    display: block;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  header {
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .main__about-us-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main__benefits-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2a2367;
    position: absolute;
    align-self: flex-start;
    max-width: 94%;
  }

  .main__background-image-wrapper {
    align-self: center;
    width: 100%;
    max-width: 400px;
  }

  .main__background-image {
    width: 100%;
    /*content: url('assets/phone/notebook.png');*/
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #2a2367;
    text-align: center;
  }

  .main__card-header {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #2a2367;
  }

  .menu-wrapper {
    z-index: 2;
    position: fixed;
    width: 100%;
    max-width: 500px;
    height: 100%;
  }

  .menu {
    position: relative;
    top: 62px;
    height: 100%;
    background-color: white;
    width: 100%;
    box-shadow: 0px -5px 2px -5px rgba(45, 45, 45, 0.7);
    left: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__close-button {
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .menu__nav {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    gap: 30px;
  }

  .menu__nav-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .menu__address {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    bottom: -130px;
  }

  .menu__address-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6b5af9;
  }

  .swiper-container {
    height: 200px;
    position: relative;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
  }

  .slide {
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .slide__big-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .slide__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .slide__header::after {
    display: block;
    margin: 10px 0;
    content: '';
    border: 1px solid #e37575;
    width: 175px;
    height: 0px;
  }

  .slide__paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .swiper-pagination {
    top: 205px;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .Laptop {
    display: block;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 860px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  .main__about-us-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
  }

  .main__benefits-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .main__background-image-wrapper {
    width: 55%;
    max-width: 500px;
    position: absolute;
    top: 100px;
    left: 40%;
  }

  .main__background-image {
    width: 100%;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #2a2367;
    width: 700px;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #2a2367;
  }

  .menu-wrapper {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .menu {
    position: relative;
    top: 100px;
    left: -40px;
    height: calc(100% - 100px);
    background-color: white;
    width: 300px;
    box-shadow: 500px 1000px 2px 1000px rgba(45, 45, 45, 0.7);
  }

  .menu__close-button {
    position: relative;
    left: 20px;
    top: 30px;
  }

  .menu__nav {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    top: 75px;
    left: 15px;
    /*почему на 25px сдвигается при inline-flex?*/
  }

  .menu__nav-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .menu__address {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    bottom: -400px;
    left: 40px;
  }

  .menu__address-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6b5af9;
  }

  .main__card-header {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #2a2367;
  }

  .card__big-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .card__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .card__header::after {
    display: block;
    margin: 10px 0;
    content: '';
    border: 1px solid #e37575;
    width: 175px;
    height: 0px;
  }

  .card__paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .card {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;

    top: 30px;
    height: 200px;
    max-width: 43%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .card-wrapper--collapsed {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    justify-content: space-around;

    max-height: 260px;
    row-gap: 100px;
  }

  .card-wrapper--expanded {
    max-height: 100%;
    overflow: visible;
    row-gap: 40px;
  }

  .card-expand-button {
    width: 100%;
    height: 40px;
    position: relative;
    top: -15px;
  }
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

.order-wrapper {
  z-index: 2;
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.order {
  position: relative;
  top: 62px;
  height: 100%;
  background-color: white;
  width: 100%;
  box-shadow: 0px -5px 2px -5px rgba(45, 45, 45, 0.7);
  left: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__close-button {
  position: absolute;
  top: 20px;
  left: 10px;
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

@media (min-width: 1440px) {
  .Desktop {
    display: block;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 140px;
    max-width: 1500px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  header {
    display: flex;
    height: 115px;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    display: flex;
    gap: 20px;
  }

  .header__nav-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .header__address-social-image {
    display: inline;
    padding-inline-end: 15px;
  }

  .header__address-main-text {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #2a2367;
    font-style: normal;
  }

  .header__address-sub-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
    font-style: normal;
    float: right;
  }

  .header__call-button {
    width: 177px;
    height: 60px;
    color: white;
    background: #6b5af9;
    border-radius: 5px;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  .main__about-us-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
  }

  .main__benefits-section {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .main__background-image-wrapper {
    width: 50%;
    max-width: 750px;
    position: absolute;
    top: 70px;
    left: 45%;
  }

  .main__background-image {
    width: 100%;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2a2367;
    width: 650px;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #2a2367;
  }

  .main__card-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2a2367;
  }

  .card__big-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #ffffff;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }

  .card__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .card__header::after {
    display: block;
    margin: 10px 0;
    content: '';
    border: 1px solid #e37575;
    width: 175px;
    height: 0px;
  }

  .card__paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  /*------------------------------------------------------*/
  /*------------------------------------------------------*/
  /*------------------------------------------------------*/

  .card {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;

    top: 30px;
    height: 200px;
    max-width: 29%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .card-wrapper--collapsed {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    justify-content: space-around;

    max-height: 260px;
    row-gap: 100px;
  }

  .card-wrapper--expanded {
    max-height: 100%;
    overflow: visible;
    row-gap: 40px;
  }

  .card-expand-button {
    width: 100%;
    height: 40px;
    position: relative;
    top: -15px;
  }
}
