@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

/*@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 700;
  src: local("Montserrat"), url("/fonts/montserrat.woff2") format("woff2"),
    url("/fonts/montserrat.woff") format("woff");
}*/

body {
  font-family: "Montserrat";
}

.Phone {
  display: none;
}

.Laptop {
  display: none;
}

.Desktop {
  display: none;
}

.hidden {
  display: none;
}

.fixed {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.accent {
  color: #6b5af9;
  font-weight: 700;
}

.unified-cost-button {
  width: 275px;
  height: 60px;
  color: white;
  background: #6b5af9;
  border-radius: 5px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
}

@media (max-width: 359px) {
  .Phone {
    display: block;
  }

  .wrapper {
    padding: 0 10px;
    overflow-x: scroll;
  }

  header {
    width: 359px;
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
  }

  main {
    width: 359px;
  }

  .main__descriptions-wrapper {
    display: flex;
    flex-direction: column;
  }

  .main__descriptions-wrapper * {
    margin-top: 20px;
  }

  .main__descriptions-header {
    padding-right: 11px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    color: #2a2367;
    top: -290px;
  }

  .main__background-image {
    width: 100%;
    position: relative;
    top: 20px;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .Phone {
    display: block;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 500px;
  }

  header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__descriptions-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__descriptions-wrapper * {
    margin-top: 20px;
  }

  .main__background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 75%;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2a2367;
    position: relative;
    top: -290px;
  }

  .main__background-image {
    width: 100%;
    position: relative;
    top: 20px;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .Laptop {
    display: block;
  }

  header {
    display: flex;
    height: 97px;
    justify-content: space-between;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .main__background-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 60%;
  }

  .main__descriptions-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 40%;
  }

  .main__descriptions-wrapper * {
    margin: 15px 0;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #2a2367;
    position: relative;
    top: 10px;
    width: 700px;
  }

  .main__background-image {
    width: 100%;
    position: relative;
    top: 15px;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
  }

  .main__descriptions-paragraph-request {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 860px;
    position: relative;
  }

  .menu-wrapper {
    position: absolute;
    left: -1%;
    z-index: 2;
    background-color: white;
    width: 40%;
    height: 90vh;
    padding-right: 50px;
    box-shadow: 0 -4px 2px -2px rgb(218, 218, 218),
      500px 1000px 2px 1000px rgba(45, 45, 45, 0.7);
    overflow: hidden;
    /*border: 2px solid firebrick;*/
  }

  .menu {
    /*position: absolute;*/
  }

  .menu__close-button {
    position: absolute;
    left: 5%;
    top: 3%;
  }

  .menu__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    top: 10%;
    left: 10%;
  }

  .menu__nav-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .menu__address {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    bottom: 10%;
    left: 10%;
  }

  .fds {
    height: 200px;
  }

  .menu__address-link {
  }
}

@media (min-width: 1440px) {
  .Desktop {
    display: block;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 140px;
    max-width: 1300px;
  }

  header {
    display: flex;
    height: 115px;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-wrapper {
    margin-right: auto;
  }

  .header__nav {
    margin-right: auto;
  }

  .header__nav-button {
    padding: 0 13px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2a2367;
  }

  .header__address {
    margin-right: auto;
    text-align: right;
  }

  .header__address-social-image {
    display: inline;
    padding-inline-end: 15px;
  }

  .header__address-main-text {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #2a2367;
    font-style: normal;
  }

  .header__address-sub-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2a2367;
    font-style: normal;
  }

  .header__call-button {
    width: 177px;
    height: 60px;
    color: white;
    background: #6b5af9;
    border-radius: 5px;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .main__background-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 60%;
  }

  .main__descriptions-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-width: 40%;
  }

  .main__descriptions-wrapper * {
    margin: 15px 0;
  }

  .main__descriptions-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2a2367;
    position: relative;
    width: 650px;
    top: 10px;
  }

  .main__background-image {
    width: 100%;
    position: relative;
    top: -70px;
  }

  .main__descriptions-paragraph-unique {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2a2367;
    width: 600px;
  }

  .main__descriptions-paragraph-request {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}

.ads {
  height: 300px;
}

/**[class*="laptop"] {
    display: none;
  }

  *[class*="desktop"] {
    display: none;
  }

  *[class*="Laptop"] {
    display: none;
  }

  *[class*="Desktop"] {
    display: none;
  }*/
