* {
  box-sizing: border-box;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

body {
  background-color: rgb(100, 100, 100);
}

li {
  list-style: none;
}

.form {
  background-color: rgb(75, 75, 75);
  height: 736px;
  margin: 62px;
  width: 661px;
}

.input {
  color: #000000;
  font-family: 'Roboto';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: 61px;
  line-height: 56px;
  margin: 0 77px;
  margin-top: 77px;
  padding-left: 13px;
  width: 500px;
}

.autocomplete-box {
  display: none;
  margin: 0 77px;
  position: absolute;
  width: 500px;
}

.suggestion {
  background: #e3e3e3;
  border: 2px solid #000000;
  color: #000000;
  font-family: 'Roboto';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: 44px;
  line-height: 35px;
  padding-left: 13px;
  width: 500px;
}

.suggestion:hover {
  background: #65cdf9;
}

.save-list {
  border: 1px solid black;
  height: 303px;
  margin: 0 77px;
  margin-top: calc(45px + 44px * 5);
  width: 503px;
}

.save-list__item {
  background-color: #e27beb;
  border: 1px solid black;
  color: #000000;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 101px;
}

.close {
  background-color: rgba(88, 88, 88, 0);
  display: inline-block;
  font-size: 120px;
  height: 50px;
  left: 420px;
  position: relative;
  top: -78px;
  width: 50px;
}

.close:after {
  content: '\274c';
  font-size: 50px;
  left: 50%;
  position: absolute;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.name {
  height: calc(101px / 3);
  margin: 0;
  padding-left: 13px;
}
.owner {
  height: calc(101px / 3);
  margin: 0;
  padding-left: 13px;
}
.stars {
  height: calc(101px / 3);
  margin: 0;
  padding-left: 13px;
}

.empty {
  display: none;
}
